@font-face {
    font-family: 'Fahkwang';
    src: local('Fahkwang'),
    url('./fonts/Fahkwang/Fahkwang-Regular.ttf') format("truetype")
}

/* HTML OVERRIDES */
img {
    /* image wont get bigger than its actual size ~ try width 100% for scaling */
    /* width: 100%; */
    display: inline;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 0;
    margin-right: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,238,238,1) 0%, rgba(196,196,196,1) 100%);
}

.image {
    width: 100%;
    display: inline;

}
/* UTILITY */
.container {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.white {
    background-color: white;
}

.font{
    font-family: "Fahkwang";
}

.border {
    border: 1px solid black;
}

.mainContainer {
    background-color: white;
}

.content-container{
    margin: 1rem 0 ;
    padding: 1rem;
}

/* BANNER */
.banner {
    text-align: center;
}

.logo {
    height: auto;
    width: 100%;
    max-width: 20%;
}

/* NAVIGATION */
.navbar{
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: ;
    padding: 1em;
}



.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link{
    /* color: white; */
    padding: 0 1rem ;
    margin-left: 2rem ;
    text-decoration: none;
    color: black;
}

/* .link:hover{
    color: #2db44f;
    border-bottom: 1px solid orange;
} */
.link-active{
    color: #e904e9;
}
/* .link:focus{
    color: #FFA500;
    border-bottom: 1px solid orange;
} */



/* JUMBOTRON */
.jumbotron{
    text-align: center;
    margin: 0 0;
    position: relative;
}



/* CARDS */
.card-container{
    max-width: 30%;
    margin-bottom: 1rem;
    border: 1px solid gray;  
}
.overlay{
    position: relative;
    /* z-index: -1; */
    /* display: inline-block; */
}
.card-header{
    text-align: center;
}
.card-image{
    display: block;
}

.card-text{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 600;
    position: absolute;    
    padding-right: 0.5rem;
    /* bottom: 0;
    right: 0; */
 
}
.card-displayContainer {
    display: flex;
    align-items: center;
}

.card-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 3250px;
    overflow: hidden;
}



/* MEDIA QUERIES */

@media (max-width: 675px){
    .navbar{
        text-align: center;
        flex-direction: column;
    }
    .logo{
        flex-direction: column;
    }
    .links{
        flex-direction: column;
    }
    .link{
        padding: 0.5rem;
        margin: auto 0;
    }
}

@media (min-width: 960px){
    .container{
        max-width: 975px;
    }
    .jumbotron{
        max-width: 975px;
        margin: 0 auto;
        align-content: center;
    }
    .card-container{
        max-width: 25%;
    }
}

