@font-face {
    font-family: 'Fahkwang';
    src: local('Fahkwang'),
    /* url('./fonts/Rajdhani/Rajdhani-Medium.ttf') format("truetype") */
    url('./fonts/Cormorant/CormorantGaramond-Medium.ttf') format("truetype")
    /* url('./fonts/Tajawal/Tajawal-Regular.ttf') format("truetype") */


}

/* HTML OVERRIDES */
img {
    /* image wont get bigger than its actual size ~ try width 100% for scaling */
    /* width: 100%; */
    display: inline;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

.image {
    width: 100%;
    display: inline;

}
/* UTILITY */

.border {
    border: 1px solid black;
}

.mainContainer {
    background-color: white;
}

.content-container{
    margin: 0.5rem 0 ;
    padding: 0.5rem;
}

/* NAVIGATION */
.navbar{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #ededed;
    position: sticky;
    top:0;

}

/* .link:hover{
    color: #2db44f;
    border-bottom: 1px solid orange;
} */
.link-active{
    color: orange;
}
/* .link:focus{
    color: #FFA500;
    border-bottom: 1px solid orange;
} */



/* JUMBOTRON */
.jumbotron{
    max-height: 70vh;
    text-align: center;
    margin: 0 0;
    position: relative;

    object-fit: contain;
}

/* MEDIA QUERIES */

@media (max-width: 675px){
    .navbar{
        text-align: center;
        flex-direction: column;
    }
    .logo{
        flex-direction: column;
    }
    .links{
        flex-direction: column;
    }
    .link{
        padding: 0.5rem;
        margin: auto 0;
    }
}

@media (min-width: 960px){
    .container{
        max-width: 960px;
    }
    .jumbotron{
        /* max-width: 975px; */
        max-height: 80vh;
        margin: 0 auto;
        align-content: center;
    }

}

